<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="rPoolSetting" type="RPool.NET.Configuration.PoolSetting,RPool.NET" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <rPoolSetting limitLife="60" limitTimes="100" minPoolSize="3" maxPoolSize="10"  workingDirectory="C:\R"></rPoolSetting>
</configuration>